@model List<EMarket.Entitie.Category>
@{
    ViewBag.Title = "CategoryList";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h2>CategoryList</h2>



<table >
        <thead>
            <tr>
                <td width="100px" height="30px" style="font-size:30px;"> Name</td>
                <td width="100px" height="30px" style="font-size:30px;">Category</td>
                <td width="100px" style="padding-left:20px;"><button type="submit">Edit</button></td>
                <td width="100px"><button type="submit">Delete</button></td>
            </tr>
            
        </thead>
    
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="font-size:20px;" >
                        @item.Name
                    </td>
                    
                    <td style="font-size:20px;">
                        @item.Description
                    </td>
                </tr>
            }
        </tbody>


    </table>
<script>
    alert("Hello ");
</script>



