
@{
    ViewBag.Title = "Create";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h2>Create</h2>
<div >
    <form  id="createProduct">
        <label>Name</label>
        <input name="Name" /><br />
        <label>Description</label>
        <input name="Description" /><br />
        <label>Price</label>
        <input name="Price" /><br />
        <button type="button" id="createbtn">Create</button>

    </form>
</div>
<script>
    $("#createbtn").click(function () {

        $.ajax({
            type: 'POST',
            url: '/Product/Create',
            data: $("#createProduct").serialize()
        })
            .done(function (responce) {
                $("#TableProduct").html(responce);
            })
            .fail(function () {
                alert("Faild");
            })
    });
</script>
 


