
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="TableProduct">

    @{
        Html.RenderAction("ProductList");
        //Html.RenderAction("Create");
    }
</div>
<div id="TableCreate">
   
</div>

